// Main Const
@import '../../styles/mainConst';
// Terms
.terms {
    padding-top: 50px;
    padding-bottom: 50px;
    .terms__container {
        .terms__content {
            .terms__title {
                @include fonts-title-posts;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .terms__description {
                @include fonts-desc-slider;
                color: $color-grey;
            }
        }
    }
}